<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/styles.css">
        <title>Latam Viaja</title>
        <link rel="icon" href="../assets/img/logoEmpresa.png" type="image/png">
    </head>
<body>
    <!-- contenedor para el header logos y listas -->
    <header class="container-header">
        <section class="content-header--icons">
            <figure class="containt-logo">
                <a href="../index.html">
                    <img src="../assets/img/logoEmpresa.png" alt="Logo Empresa">
                </a>
            </figure>
            <div>
                <h2>LATAM VIAJA</h2>
            </div>
            <figure class="containt-icon">
                <img src="../assets/img/user.png" alt="Icono del usuario">
            </figure>
        </section>
        <!-- lista para el header  -->
        <section class="container-header--navar">
            <nav class="navar-header">
                <ul class="header-navar--list">
                    <li>
                    <a href="../index.html">
                        Vuelos
                    </a>
                </li>
                    <li>
                        <a href="../views/cruceros.html">
                            Cruceros
                        </a>
                    </li>
                    <li>
                        <a href="./paquetes.html">
                            Paquetes
                        </a>
                    </li>
                    <li>
                        <a href="./autos.html">
                            Autos
                        </a>
                    </li>
                    <li>
                        <a href="./contacto.html">
                            Contacto
                        </a>
                    </li>
                    <li>
                        <a href="./about.html">
                            Nosotros
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
    <!-- contenido para el main -->
    <main class="main-about">
        <section class="container-about">
            <section class="container-about--latam">
                <div class="content-about--latam">
                    <div>
                        <h1>Sobre Nosotros</h1>

                        <h2>Latam Viaja</h2>
                        <p>Es una agencia de viajes colombiana dedicada a convertir tus sueños de viaje en realidad. Con una pasión por la aventura y la exploración, nos especializamos en ofrecer experiencias de viaje únicas y memorables.</p>
                        <h2>Nuestra Misión:</h2>
                        <p>Proporcionar experiencias de viaje excepcionales, cuidando cada detalle para que disfrutes de un viaje sin preocupaciones.</p>
                    <h2>Nuestro Equipo:</h2>
                    <p>Nuestro equipo está formado por expertos en viajes con años de experiencia. Compartimos la pasión por descubrir nuevos destinos y ayudar a nuestros clientes a vivir experiencias inolvidables.</p>
                    </div>
                    <figure>
                        <img src="../assets/img/sobreNosotros.jpg" alt="personas compartiendo en oficina">
                    </figure>
                </div>
            </section>
            <section class="content-about--service">
                <div class="about-service">
                    <h2>Nuestros Servicios:</h2>
                    <div>
                        <ul>
                        <li><strong>Reservas de Vuelos</strong>: Mejores tarifas y rutas con las principales aerolíneas.</li>
                        <li><strong>Alojamientos</strong>: Hoteles, hostales y más, adaptados a tus necesidades.</li>
                        <li><strong>Paquetes Turísticos</strong>: Viajes organizados con transporte, alojamiento y actividades.</li>
                        <li><strong>Alquiler de Autos</strong>: Opciones para explorar a tu propio ritmo.</li>
                        <li><strong>Ofertas Exclusivas</strong>: Promociones y descuentos para nuestros clientes.</li>
                    </ul>
                </div>
                <h2>Nuestros Valores:</h2>
                <div>
                    <ul>
                        <li><strong>Integridad</strong>: Transparencia y honestidad.</li>
                        <li><strong>Calidad</strong>: Servicios de alta calidad.</li>
                        <li><strong>Innovación</strong>: Mejora continua de la experiencia de viaje.</li>
                        <li><strong>Compromiso</strong>: Satisfacción total del cliente.</li>
                    </ul>
                </div>
            </div>
            </section>
            <section class="container-about--choose">
                <div class="content-about--choose">

                    <div>
                        <h2>Por Qué Elegirnos:</h2>
                        <p>En Latam Viaja, ponemos tus necesidades primero. Personalizamos cada viaje para que sea perfecto, asegurando que vivas una experiencia única y memorable.</p>
                    </div>
                    <div>
                        <h2>Contáctanos:</h2>
                        <p>Estamos aquí para ayudarte a planificar tu próximo viaje. Juntos, haremos de tu viaje una experiencia extraordinaria.</p>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <!-- contenedor para el pie de pagina -->
    <footer>
        <section class="container-info--footer">
            <section class="content-socialmedia--info">
                    <div class="content-socialmedia--photos">
                        <h1>Redes Sociales</h1>   
                        <figure>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=13912&format=png&color=000000" alt="facebook">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=Xy10Jcu1L2Su&format=png&color=000000" alt="instagram">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=phOKFKYpe00C&format=png&color=000000" alt="x">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=63306&format=png&color=000000" alt="telegram">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000" alt="whatsapp">
                            </a>
                        </figure>
                    </div>
                    <div class="content-info--latamviaja">
                        <p>info@latamviaja.com <br>
                            <strong>
                                Teléfonos:
                            </strong>
                            +57 (601) 805 1234
                            +57 315 242 6789
                            +57 315 235 4321
                            +57 316 222 9876
                            +57 315 818 1234
                            +57 315 383 5678
                            <br>
                            <strong>
                                Dirección:
                            </strong>
                                Carrera 10 # 50 – 20, Oficina 305, Edificio Torre Central, Barrio Chapinero, Bogotá, Colombia
                        </p>
                    </div>
                
            </section>
            <section class="content-info--copyright">
                <p>Copyright ©2024 latamviaja.com</p>
            </section>
        </section>
    </footer>
</body>
</html>