<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Latam Viaja</title>
    <link rel="icon" href="../assets/img/logoEmpresa.png" type="image/png">
</head>
<body>
    <!-- Section del header -->
    <header class="container-header">
        <section class="content-header--icons">
            <figure class="containt-logo">
                <a href="../index.html">
                    <img src="../assets/img/logoEmpresa.png" alt="Logo Empresa">
                </a>
            </figure>
            <div>
                <h2>LATAM VIAJA</h2>
            </div>
            <figure class="containt-icon">
                <a href="./login.html">
                    <img src="../assets/img/user.png" alt="Icono del usuario">
                </a>
            </figure>
        </section>
        <!-- lista del header  -->
        <section class="container-header--navar">
            <nav class="navar-header">
                <ul class="header-navar--list">
                    <li>
                    <a href="../index.html">
                        Vuelos
                    </a>
                </li>
                    <li>
                        <a href="./cruceros.html">
                            Cruceros
                        </a>
                    </li>
                    <li>
                        <a href="./paquetes.html">
                            Paquetes
                        </a>
                    </li>
                    <li>
                        <a href="./autos.html">
                            Autos
                        </a>
                    </li>
                    <li>
                        <a href="./contacto.html">
                            Contacto
                        </a>
                    </li>
                    <li>
                        <a href="./about.html">
                            Nosotros
                        </a>
                    </li>
                    <li>
                        <a href="./favorites.html">Favoritos</a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
    <!-- contenedor del main -->
    <main>
        <section class="content-main--flights">
            <!-- video de nuestro contenedor -->
            <video autoplay muted loop>
                <source src="../assets/video/crucero1.mp4" type="video/mp4">
            </video>
            <!-- contenedor de nuestro formulario -->
            <section class="container-title--form">
                <div class="content-title-flights content-title-cruises">
                    <h1>Su viaje perfecto es bordo de un crucero</h1>
                    <p>Los mejores evento y comidas, incluidas con su paquete.</p>
                </div>
                <div class="content-main--flights--form content-main--cruises">
                    <form action="#" class="flights-form cruise-form">
                        <ul class="flights-list">
                        <li>
                            <label for="ubicacionActual">Seleccione una region</label>
                            <select name="ubicacionActual" type="text" ,placeholder="Ubicacion Actual">
                                <option value="seleccione destino" disabled selected="selected">Seleccione destino</option>
                                <option value="caribe">Caribe</option>
                                <option value="bahamas">Bahamas</option>
                                <option value="alaska">Alaska</option>
                                <option value="panamá">Panamá</option>
                                <option value="europa">Europa</option>
                            </select>
                        </li>
                        <li>
                            <label for="fechas">Fechas</label>
                            <div class="div-li--form flights-list--tree">
                                <input name="fechaIda" type="date" placeholder="Dia-Mes-Año">
                            </div>
                        </li>
                        <li>
                            <label for="">pasajeros</label>
                            <div class="div-li--form flights-list--four">
                                <input name="cantidadPasajeros" type="number" placeholder="Cantidad pasajeros">
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="56px" viewBox="0 0 24 24" width="56px" fill="#04BFBF"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
                                </button>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </section>
        </section>
        <!-- boton para el soporte de usuarios -->
        <a href="./contacto.html">
            <div class="container-support--button">
                <button>
                    <figure>
                        <img src="https://img.icons8.com/?size=100&id=wUB0486fVP3Z&format=png&color=000000" alt="icono boton soporte">
                    </figure>
                    <div>
                        <p>
                            ¿Necesitas ayuda?
                        </p>
                    </div>
                </button>
            </div>
        </a>
        <!-- contenedor de paquetes mas populares para los usuarios -->
        <section class="container-recommendations--destinations">
            <section class="content-title--packages">
                <h2>Paquetes más populares</h2>
            </section>
            <section class="container-cards--recommendations--destinations">
                <section class="content-cards">
                    <article>
                        <section class="bahamas card-cruises card-cruises">
                            <h1>Crucero Caribe y Bahamas</h1>
                            <h2>Duración: 7 días</h2>
                            <p><strong>Rutas</strong>: Miami, Nassau (Bahamas), Cozumel (México), Grand Turk (Turcas y Caicos)</p>
                            <p><strong>Descripción</strong>: Explora playas de arena blanca, aguas cristalinas y vibrantes culturas insulares..</p>
                        </section>
                        <button>Reservar ahora</button>
                    </article>
                    <article>
                        <section class="panama card-cruises">
                            <h1>Crucero del Canal de Panamá</h1>
                            <h2>Duración: 14 días</h2>
                            <p><strong>Rutas</strong>: Miami, Colón (Panamá), Puntarenas (Costa Rica), Puerto Vallarta (México), Los Ángeles</p>
                            <p><strong>Descripción</strong>
                                : Navega por el famoso Canal de Panamá y descubre destinos tropicales y vibrantes ciudades costeras.
                            </p>
                        </section>
                        <button>Reservar ahora</button>
                    </article>
                    <article>
                        <section class="alaska card-cruises">
                            <h1>Aventura Ártica y Alaskana</h1>
                            <h2>Duración: 10 días</h2>
                            <p><strong>Rutas</strong>: Anchorage, Juneau, Glacier Bay, Ketchikan</p>
                            <p><strong>Descripción</strong>
                                : Admira glaciares majestuosos, vida silvestre y paisajes espectaculares de Alaska.
                            </p>
                        </section>
                        <button>Reservar ahora</button>
                    </article>
                    <article>
                        <section class="crucero-caribe--panama card-cruises">
                            <h1>Encantos del Caribe y Panamá</h1>
                            <h2>Duración: 12 días</h2>
                            <p><strong>Rutas</strong>: Cartagena (Colombia), Colón (Panamá), Aruba, Curazao, Bonaire</p>
                            <p><strong>Descripción</strong>
                                : Combina la riqueza histórica de Cartagena con la belleza natural del Caribe y la maravilla del Canal de Panamá.
                            </p>
                        </section>
                        <button>Reservar ahora</button>
                    </article>
                    <article>
                        <section class="europa card-cruises">
                            <h1>Exploración Europea</h1>
                            <h2>Duración: 10 días</h2>
                            <p><strong>Rutas</strong>: Barcelona, Marsella, Nápoles, Santorini, Atenas</p>
                            <p><strong>Descripción</strong>
                                : Descubre las joyas del Mediterráneo con visitas a ciudades históricas y paisajes inolvidables.

                            </p>
                        </section>
                        <button>Reservar ahora</button>
                    </article>
                    <article>
                        <section class="bahamas-caribe card-cruises">
                            <h1>Maravillas del Caribe y Bahamas</h1>
                            <h2>Duración: 8 días</h2>
                            <p><strong>Rutas</strong>: Fort Lauderdale, Half Moon Cay (Bahamas), St. Thomas, San Juan (Puerto Rico)</p>
                            <p><strong>Descripción</strong>
                                : Disfruta de la diversidad del Caribe con su cultura vibrante, playas idílicas y emocionantes actividades.
                            </p>
                        </section>
                        <button>Reservar ahora</button>
                    </article>
                    <article>
                        <section class="alaska-fiordos card-cruises">
                            <h1>Ruta de los Fiordos y Alaska</h1>
                            <h2>Duración: 12 días</h2>
                            <p><strong>Rutas</strong>: Seattle, Sitka, Juneau, Skagway, Victoria (Canadá)</p>
                            <p><strong>Descripción</strong>
                                : Navega por los impresionantes fiordos de Alaska y explora pintorescas ciudades costeras.
                            </p>
                        </section>
                        <button>Reservar ahora</button>
                    </article>
                    <article>
                        <section class="mediterraneo card-cruises">
                            <h1>Crucero por el Mediterráneo y Europa Occidental</h1>
                            <h2>Duración: 14 días</h2>
                            <p><strong>Rutas</strong>: Roma, Florencia, Mónaco, Barcelona, Lisboa</p>
                            <p><strong>Descripción</strong>
                                : Sumérgete en la rica historia y la cultura de Europa Occidental con paradas en ciudades emblemáticas.
                            </p>
                        </section>
                        <button>Reservar ahora</button>
                    </article>

                </section>
            </section>
        </section>
    </main>
    <!-- contenedor para el pie de pagina -->
    <footer>
        <section class="container-info--footer">
            <section class="content-socialmedia--info">
                    <div class="content-socialmedia--photos">
                        <h1>Redes Sociales</h1>   
                        <figure>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=13912&format=png&color=000000" alt="facebook">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=Xy10Jcu1L2Su&format=png&color=000000" alt="instagram">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=phOKFKYpe00C&format=png&color=000000" alt="x">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=63306&format=png&color=000000" alt="telegram">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000" alt="whatsapp">
                            </a>
                        </figure>
                    </div>
                    <div class="content-info--latamviaja">
                        <p>info@latamviaja.com <br>
                            <strong>
                                Teléfonos:
                            </strong>
                            +57 (601) 805 1234
                            +57 315 242 6789
                            +57 315 235 4321
                            +57 316 222 9876
                            +57 315 818 1234
                            +57 315 383 5678
                            <br>
                            <strong>
                                Dirección:
                            </strong>
                                Carrera 10 # 50 – 20, Oficina 305, Edificio Torre Central, Barrio Chapinero, Bogotá, Colombia
                        </p>
                    </div>
                
            </section>
            <section class="content-info--copyright">
                <p>Copyright ©2024 latamviaja.com</p>
            </section>
        </section>
    </footer>
</body>
</html>