<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Latam Viaja</title>
    <link rel="icon" href="../assets/img/logoEmpresa.png" type="image/png">
</head>
<body>
    <!-- Section del header -->
    <header class="container-header">
        <section class="content-header--icons">
            <figure class="containt-logo">
                <a href="../index.html">
                    <img src="../assets/img/logoEmpresa.png" alt="Logo Empresa">
                </a>
            </figure>
            <div>
                <h2>LATAM VIAJA</h2>
            </div>
            <figure class="containt-icon">
                <img src="../assets/img/user.png" alt="Icono del usuario">
            </figure>
        </section>
        <section class="container-header--navar">
            <nav class="navar-header">
                <ul class="header-navar--list">
                    <li>
                    <a href="../index.html">
                        Vuelos
                    </a>
                </li>
                    <li>
                        <a href="../views/cruceros.html">
                            Cruceros
                        </a>
                    </li>
                    <li>
                        <a href="./paquetes.html">
                            Paquetes
                        </a>
                    </li>
                    <li>
                        <a href="./autos.html">
                            Autos
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Contacto
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <section class="container-packages">
            <section class="content-packages">
                <article class="colombia-cartagena">
                    <section class="content-article--img">
                        <figure>
                            <img src="../assets/img/cartagenaPackages.jpg" alt="cartagena colombia">
                        </figure>
                    </section>
                    <section class="content-article--info">
                        <h2>Aventura en Cartagena, Colombia</h2>
                        <p><strong>Duración: </strong>
                            5 días / 4 noches
                            <br>
                            <strong>Incluye: </strong>
                            Alojamiento en hotel 4 estrellas, desayuno diario, tour por el casco antiguo, visita al Castillo de San Felipe, y excursión a las Islas del Rosario.
                            <br>
                            <strong>Descripcion: </strong>
                            Disfruta de la vibrante cultura y la rica historia de Cartagena, explorando sus calles coloniales y hermosas playas.
                        </p>
                        <button>Reservar ahora</button>
                    </section>
                </article>
                <article class="colombia-cafetero">
                    <section>
                        <figure>
                            <img src="../assets/img/ejeCafetero.jpg" alt="eje cafetero colombia">
                        </figure>
                    </section>
                    <section class="content-article--info">
                        <h2>Exploración en el Eje Cafetero, Colombia</h2>
                        <p><strong>Duración: </strong>
                            6 días / 5 noches
                            <br>
                            <strong>Incluye: </strong>
                            Alojamiento en finca cafetera, tour del café, visita a Salento y el Valle de Cocora, entradas al Parque del Café, y transporte local.
                            <br>
                            <strong>Descripcion: </strong>
                            Descubre la belleza del paisaje cafetero colombiano, aprende sobre el proceso del café.
                        </p>
                        <button>Reservar ahora</button>
                    </section>
                    </article>
                <article class="francia-paris">
                    <section>
                        <figure>
                            <img src="../assets/img/paris-francia.jpg" alt="paris francia">
                        </figure>
                    </section>
                    <section class="content-article--info">
                        <h2>Escapada Romántica a París, Francia</h2>
                        <p><strong>Duración: </strong>
                            4 días / 3 noches
                            <br>
                            <strong>Incluye: </strong>
                            Alojamiento en hotel boutique, desayuno diario, crucero por el Sena, visita guiada a la Torre Eiffel y entradas al Museo del Louvre.
                            <br>
                            <strong>Descripcion: </strong>
                            Vive el romance en la Ciudad de las Luces con paseos icónicos y experiencias culturales inolvidables.
                        </p>
                        <button>Reservar ahora</button>
                    </section>
                </article>
                <article class="tanzania-serengeti">
                    <section>
                        <figure>
                            <img src="../assets/img/tanzania-serengeti.jpg" alt="tanzania serengeti">
                        </figure>
                    </section>
                    <section class="content-article--info">
                        <h2>Safari en el Serengeti, Tanzania</h2>
                        <p><strong>Duración: </strong>
                            7 días / 6 noches
                            <br>
                            <strong>Incluye: </strong>
                            Alojamiento en lodges de lujo, todas las comidas, safaris diarios, guías expertos y traslados al aeropuerto.
                            <br>
                            <strong>Descripcion: </strong>
                            Experimenta la vida salvaje de África en su máxima expresión, observando leones, elefantes y más en su hábitat natural.
                        </p>
                        <button>Reservar ahora</button>
                    </section>
                </article>
                <article class="japon-tokio">
                    <section>
                        <figure>
                            <img src="../assets/img/tokio-japon.jpg" alt="tokio japon">
                        </figure>
                    </section>
                    <section class="content-article--info">
                        <h2>Descubrimiento de Tokio, Japón</h2>
                        <p><strong>Duración: </strong>
                            5 días / 4 noches
                            <br>
                            <strong>Incluye: </strong>
                            Alojamiento en hotel 4 estrellas, desayuno diario, tour por los barrios de Shibuya y Shinjuku, visita al Templo Senso-ji y entradas al Museo Edo-Tokyo.
                            <br>
                            <strong>Descripcion: </strong>
                            Sumérgete en la fascinante mezcla de tradición y modernidad de Tokio, explorando templos antiguos y distritos futuristas.
                        </p>
                        <button>Reservar ahora</button>
                    </section>
                </article>
                <article class="estados-unidos--ny">
                    <section>
                        <figure>
                            <img src="../assets/img/ny.jpg" alt="nuevo york">
                        </figure>
                    </section>
                    <section class="content-article--info">
                        <h2>Maravillas de Nueva York, Estados Unidos</h2>
                        <p><strong>Duración: </strong>
                            4 días / 3 noches
                            <br>
                            <strong>Incluye: </strong>
                            Alojamiento en hotel céntrico, desayuno diario, entradas para el Empire State Building y el Museo de Arte Moderno, y tour por Central Park.
                            <br>
                            <strong>Descripcion: </strong>
                            Descubre la energía y los íconos de Nueva York, desde sus rascacielos hasta sus museos de renombre mundial.
                        </p>
                        <button>Reservar ahora</button>
                    </section>
                </article>
                <article class="argentina-patagonia">
                    <section>
                        <figure>
                            <img src="../assets/img/patagonia-argentina.jpg" alt="patagonia argentina">
                        </figure>
                    </section>
                    <section class="content-article--info">
                        <h2>Aventura en la Patagonia, Argentina</h2>
                        <p><strong>Duración: </strong>
                            8 días / 7 noches
                            <br>
                            <strong>Incluye: </strong>
                            Alojamiento en hotel 4 estrellas, todas las comidas, excursiones diarias al Parque Nacional Los Glaciares, navegación por el Lago Argentino, y traslados.
                            <br>
                            <strong>Descripcion: </strong>
                            Explora los paisajes dramáticos de la Patagonia, con sus glaciares impresionantes y montañas majestuosas.
                        </p>
                        <button>Reservar ahora</button>
                    </section>
                </article>
                <article class="indonesia-bali">
                    <section>
                        <figure>
                            <img src="../assets/img/indonecia-bali.jpg" alt="indonecia bali">
                        </figure>
                    </section>
                    <section class="content-article--info">
                        <h2>Relajación en Bali, Indonesia</h2>
                        <p><strong>Duración: </strong>
                            7 días / 6 noches
                            <br>
                            <strong>Incluye: </strong>
                            Alojamiento en resort de lujo, desayuno diario, masajes en el spa, clases de yoga, y excursiones a templos y playas.
                            <br>
                            <strong>Descripcion: </strong>
                            Rejuvenece en el paraíso tropical de Bali, disfrutando de sus playas, cultura y bienestar holístico.
                        </p>
                        <button>Reservar ahora</button>
                    </section>
                </article>
                <article class="italia-roma">
                    <section>
                        <figure>
                            <img src="../assets/img/roma-italia.jpg" alt="roma italia">
                        </figure>
                    </section>
                    <section class="content-article--info">
                        <h2>Historia y Cultura en Roma, Italia</h2>
                        <p><strong>Duración: </strong>
                            5 días / 4 noches
                            <br>
                            <strong>Incluye: </strong>
                            Alojamiento en hotel 4 estrellas, desayuno diario, entradas al Coliseo y el Vaticano, y tour guiado por el centro histórico.
                            <br>
                            <strong>Descripcion: </strong>
                            Descubre la historia milenaria de Roma, desde sus ruinas antiguas hasta sus magníficas iglesias y plazas.
                        </p>
                        <button>Reservar ahora</button>
                    </section>
                </article>
                <article class="nueva-zelanda--queenstown">
                    <section>
                        <figure>
                            <img src="../assets/img/queenstown-nueva--zelanda.jpg" alt="queenstown nueva zelanda">
                        </figure>
                    </section>
                    <section class="content-article--info">
                        <h2>Aventura en Queenstown, Nueva Zelanda</h2>
                        <p><strong>Duración: </strong>
                            6 días / 5 noches
                            
                            <br>
                            <strong>Incluye: </strong>
                            Alojamiento en hotel 4 estrellas, desayuno diario, actividades de aventura como bungee jumping y rafting, y excursión a Milford Sound.
                            <br>
                            <strong>Descripcion: </strong>
                            Experimenta la adrenalina y la belleza natural de Queenstown, conocida como la capital de la aventura de Nueva Zelanda.
                        </p>
                        <button>Reservar ahora</button>
                    </section>
                </article>
            </section>
            <a href="./contacto.html">

                <div class="container-support--button">
                    <button>
                        <figure>
                            <img src="https://img.icons8.com/?size=100&id=wUB0486fVP3Z&format=png&color=000000" alt="icono boton soporte">
                        </figure>
                        <div>
                            <p>
                                ¿Necesitas ayuda?
                            </p>
                        </div>
                    </button>
                </div>
            </a>
        </section>
    </main>
    <footer>
        <section class="container-info--footer">
            <section class="content-socialmedia--info">
                    <div class="content-socialmedia--photos">
                        <h1>Redes Sociales</h1>   
                        <figure>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=13912&format=png&color=000000" alt="facebook">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=Xy10Jcu1L2Su&format=png&color=000000" alt="instagram">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=phOKFKYpe00C&format=png&color=000000" alt="x">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=63306&format=png&color=000000" alt="telegram">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000" alt="whatsapp">
                            </a>
                        </figure>
                    </div>
                    <div class="content-info--latamviaja">
                        <p>info@latamviaja.com <br>
                            <strong>
                                Teléfonos:
                            </strong>
                            +57 (601) 805 1234
                            +57 315 242 6789
                            +57 315 235 4321
                            +57 316 222 9876
                            +57 315 818 1234
                            +57 315 383 5678
                            <br>
                            <strong>
                                Dirección:
                            </strong>
                                Carrera 10 # 50 – 20, Oficina 305, Edificio Torre Central, Barrio Chapinero, Bogotá, Colombia
                        </p>
                    </div>
                
            </section>
            <section class="content-info--copyright">
                <p>Copyright ©2024 latamviaja.com</p>
            </section>
        </section>
    </footer>
</body>
</html>