<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/styles.css">
        <title>Latam Viaja</title>
        <link rel="icon" href="../assets/img/logoEmpresa.png" type="image/png">
    </head>
<body>
    <header class="container-header">
        <section class="content-header--icons">
            <figure class="containt-logo">
                <a href="../index.html">
                    <img src="../assets/img/logoEmpresa.png" alt="Logo Empresa">
                </a>
            </figure>
            <div>
                <h2>LATAM VIAJA</h2>
            </div>
            <figure class="">
            </figure>
        </section>
    </header>
   <main>
    <section class="container-form--contact container-form--register">
        <div>
            <h2 class="content-title--register">Registrarse</h2>
        </div>
        <form action="#">
            <div class="content-form--contact">
                <div class="input-names">
                    <div>
                        <input type="text" name="nombre" required>
                        <label class="label-text" for="nombre">Nombres</label>
                    </div>
                    <div>
                        <input type="text" name="apellido" required>
                        <label class="label-text" for="apellido">Apellidos</label>
                    </div>
                </div>
                <div>
                    <input type="text" name="telefono" required>
                    <label class="label-text" for="telefono">Telefono</label>
                </div>
                <div>
                    <input type="text" name="correo" required>
                    <label class="label-text" for="correo">Correo</label>
                </div>
                <div>
                    <input type="text" name="correo" required>
                    <label class="label-text" for="correo">Contraseña</label>
                </div>
                <div>
                    <input type="text" name="repita-correo" required>
                    <label class="label-text" for="repita-correo">Repita la contraseña</label>
                </div>
                
                <section class="content-checkbox content-checkbox--registrer">
                    <label for="acepta">Acepta Terminos <a href="./contacto.html">politicas</a>.</label>
                    <input class="label-checkbox" type="checkbox" name="acepta" required>
                </section>
                <a href="../index.html">
                    <button>Registrarse</button>
                </a>
            </div>
        </form>
    </section>
   </main>
    <footer>
        <section class="container-info--footer">
            <section class="content-socialmedia--info">
                <div class="content-socialmedia--photos">
                        <h1>Redes Sociales</h1>   
                        <figure>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=13912&format=png&color=000000" alt="facebook">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=Xy10Jcu1L2Su&format=png&color=000000" alt="instagram">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=phOKFKYpe00C&format=png&color=000000" alt="x">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=63306&format=png&color=000000" alt="telegram">
                            </a>
                            <a href="#">
                                <img src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000" alt="whatsapp">
                            </a>
                        </figure>
                    </div>
                    <div class="content-info--latamviaja">
                        <p>info@latamviaja.com <br>
                            <strong>
                                Teléfonos:
                            </strong>
                            +57 (601) 805 1234
                            +57 315 242 6789
                            +57 315 235 4321
                            +57 316 222 9876
                            +57 315 818 1234
                            +57 315 383 5678
                            <br>
                            <strong>
                                Dirección:
                            </strong>
                                Carrera 10 # 50 – 20, Oficina 305, Edificio Torre Central, Barrio Chapinero, Bogotá, Colombia
                        </p>
                    </div>
                
            </section>
            <section class="content-info--copyright">
                <p>Copyright ©2024 latamviaja.com</p>
            </section>
        </section>
    </footer>
</body>
</html>