/* Estilos globales */
html {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

/* Estilos para el Header */

figure {
    margin: 0px;
}

.container-header {
    display: flex;
    flex-direction: column;
}

.container-header h2 {
    font-weight: 900;
    color: #73A2BF;
}

.content-header--icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ee4e36;
}

.containt-logo img {
    width: 48px;
    margin: 8px;
}

.containt-icon {
    position: relative;
}

.containt-icon::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.containt-icon img {
    width: 38px;
    margin: 8px;
}

/* Estilos del navar contenido por el Header */

.container-header--navar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navar-header {
    height: 30px;
}

.header-navar--list {
    display: flex;
    gap: 12px;
    margin: 10px 0px 0px 0px;
}

.header-navar--list li, .header-navar--list a {
    list-style: none;
    color: #5a5a5a;
}

.header-navar--list li:hover {
    cursor: pointer;
    border-bottom: solid 1px #ee4e36;
    color: black;
}

/* Estilos Main */

main {
    position: relative;
}

/* Estilos para elementos globales de todas las paginas*/

.content-main--flights {
    position: relative;
    width: 100%;
    height: 88vh;
    margin-top: 8px;
    overflow: hidden;
}

.content-main--flights video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.container-title--form {
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.content-title-flights {
    min-width: 1000px;
    color: #023059;
}

.content-title-flights h1 {
    font-size: xxx-large;
    margin-bottom: 0px;
}

.content-title-flights p {
    font-weight: bold;
}

.content-main--flights--form {
    min-width: 1040px;
    
    padding-bottom: 22px;
    border-radius: 8px;
    background-color: rgba(2, 89, 89, 0.644);
    backdrop-filter: blur(2px);
}

.flights-form {
    position: relative;
    min-width: 1000px;
    height: 100px;
}

.flights-list {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
}

.input-label {
    position: relative;
}

.flights-list--tree, .flights-list--four {
    display: flex;
    gap: 24px;
}

.flights-list--four button {
    position: relative;
    top: -16px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}
.flights-list--four button:hover {
    cursor: pointer;
    background-color: #A0A603;
    transition: 400ms ease;
}

.flights-list li label {
    margin-top: 8px;
    font-weight: bold;
    color: #04bfbf;
}

.flights-list li input, .flights-list li select {
    position: relative;
    max-width: 180px;
    height: 32px;
    margin-top: 8px;
    border-radius: 8px;
    border: solid 1px;
    outline: none;
    background-color: transparent;
    &:focus-visible {
        border: solid 1px #F2E0C9;
        background-color: #04bfbf9d;
    }
    &::placeholder {
        color: #202020;
    }
}


/* Estilos para elementos modificados de viewport cruceros*/

.content-title-cruises {
    min-width: 700px;
    color: aliceblue;
}

.content-main--cruises {
    min-width: 700px;
}

.cruise-form {
    min-width: 100%;
}

.flights-list li select {
    width: 200px;
    height: 36px;
}


.content-title--packages {
    width: 80%;
    margin: 0 auto;
}

.content-title--packages h2 {
    text-align: center;
    color: #023059;
    padding: 66px 0;
    margin: 0;
}
/* Estilos de boton de soporte flotante */

.container-support--button {
    width: 180px;
    position: fixed;
    top: 90%;
    right: 4%;
    z-index: 99;
}

.container-support--button button,  .content-article--info button {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.container-support--button button:hover {
    cursor: pointer;
    background-color: #A0A603;
    color: aliceblue;
    transform: translate3d( -1px, -1px, -1px);
    transition: 450ms ;
}

.container-support--button button figure {
    height: 24px;
}

.container-support--button button img {
    width: 24px;
    height: 24px;
}

/* Estilos para el Main Recomendaciones */

.container-recommendations--destinations {
    background-color: #73A2BF;
    
}

.content-recommendations--title {
    width: 100%;
    height: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.content-recommendations--title h1, .content-recommendations--title p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    color: aliceblue;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.content-recommendations--title div {
    position: relative;
    width: 80%;
    height: 238px;
    background-image: url(../assets/img/world.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 8px;
    &::after {
        content: url(https://img.icons8.com/?size=50&id=kCz7OPT2zQaB&format=png&color=000000);
        position: absolute;
        top: 80%;
        left: 30%;
        animation: animateAircraft 60s ease-in-out infinite;
        font-size: xxx-large;
    }
    &::before {
        content: url(https://img.icons8.com/?size=50&id=kCz7OPT2zQaB&format=png&color=000000);
        position: absolute;
        top: 80%;
        right: 20%;
        transform: rotate(-180deg);
        animation: animateAircraft2 60s ease-in-out infinite;
        font-size: small;
    }
}

/* Estilos para contenedor de tarjetas recomendaciones */

.content-cards {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin: 0 auto;
    padding-bottom: 66px;
}

.content-cards article {
    position: relative;
    min-width: 350px;
    min-height: 550px;
    justify-self: center;
    border-radius: 8px;
}

.cartagena {
    background-image: url(../assets/img/cartagena.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.huila {
    background-image: url(../assets/img/sanAgustin-huila.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.tokio {
    background-image: url(../assets/img/tokio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.kanazawa {
    background-image: url(../assets/img/kanazawa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.roma {
    background-image: url(../assets/img/roma.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.matera {
    background-image: url(../assets/img/matera.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.machu-picchu {
    background-image: url(../assets/img/machuPicchu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.santorini {
    background-image: url(../assets/img/santorini.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.barcelona {
    background-image: url(../assets/img/barcelona.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.ha-long-bay {
    background-image: url(../assets/img/ha-long-bay.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

/* Estilos para tarjetas del viewport cruceros */

.bahamas {
    background-image: url(../assets/img/cruceroBahamas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.panama {
    background-image: url(../assets/img/cruceroPanama.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.alaska {
    background-image: url(../assets/img/cruceroAlaska.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.crucero-caribe--panama {
    background-image: url(../assets/img/cruceroCaribePanama.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.europa {
    background-image: url(../assets/img/cruceroEuropa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.bahamas-caribe {
    background-image: url(../assets/img/cruceroBahamasCaribe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.alaska-fiordos {
    background-image: url(../assets/img/cruceroAlaskaFiordos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.mediterraneo {
    background-image: url(../assets/img/cruceroEuropaOccidental.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
/* Estilos de tarjetas para los cruceros */

.content-cards .card-cruises {
    justify-content: center;
}

.content-cards section h1 {
    font-size: 2rem;
}
/*------------------------------------------------------------*/

/* Estilos para las tarjetas de paquetes populares de cruseros */

.content-cards section {
    position: relative;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 48px;
    &::before {
        content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* Cambia el color y la opacidad aquí */
            background: linear-gradient(360deg, rgba(4, 42, 68, 0.6) 0%, rgba(4, 42, 68, 0) 93.93%); 
            border-radius: 8px;
            pointer-events: none;
    }
}

.content-cards h1 {
    font-size: xxx-large;
    font-weight: bold;
    color: aliceblue;
}

.content-cards h2 {
    font-size: large;
    font-weight: bold;
    color: aliceblue;
}
.content-cards p {
    font-weight: 100;
    color: aliceblue;
}

.content-cards h1, .content-cards h2, .content-cards p {
    width: 250px;
    z-index: 1;
    margin: 0;
}

.content-cards button {
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: 180px;
    height: 36px;
    margin-top: 16px;
    border: none;
    border-radius: 8px;
    transform: translate(-50%);
}

.content-cards button:hover {
    cursor: pointer;
    background-color: #A0A603;
}

/* Estilos para el viewport de paquetes */

.content-packages {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    padding: 66px 0;
    margin: 0 auto;
}

.content-packages article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: solid 1px #ee4e36;
    border-radius: 8px;
    box-shadow: 0px 2px 7px 0px;
}

.content-packages article figure {
    height: 390px;
    overflow: hidden;
    border-radius: 8px 0px 0px 8px;
}

.content-packages article img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.content-article--info {
    display: flex;
    flex-direction: column;
    height: 370px;
    justify-content: space-evenly;
}

.content-article--info p {
    line-height: 30px;
    margin-right: 16px;
}

.content-article--info button {
    width: 40%;
    margin: 0 auto;
    border: solid 1px #ef4e35;
    background-color: transparent;
}

.content-article--info button:hover {
    cursor: pointer;
    background-color: #A0A603;
    color: aliceblue;
    border: none;
    transition: 450ms;
}

/* estilo necesario para el color de letra en el viewport rentar carro */

.rent-car {
    color: aliceblue;
}

/* Estilos del viewport para contacto*/

.main-contact {
    background-color: #023059;
    color: aliceblue;
}

.main-contact h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 66px;
}

.content-terms--conditions {
    width: 60%;
    line-height: 28px;
    margin: 0 auto;
}

.content-terms--conditions h2 {
    text-align: center;
    padding-top: 66px;
}

/* Estilos para viewport de contacto en el formulario */


.container-form--contact {
    padding-bottom: 66px;
}

.container-form--contact h2 {
    text-align: center;
    margin-top: 66px;
}

.container-form--contact form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.content-form--contact {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.content-form--contact .input-names {
    flex-direction: row;
    gap: 24px;
}

.content-form--contact div {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.content-form--contact .label-text {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 14px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .3s;
}

.content-form--contact input {
    width: 100%;
    height: 32px;
    border: solid 1px black;
    border-radius: 8px;
    background-color: transparent;
    color: aliceblue;
    outline: none;
}


.content-form--contact input:focus ~ label{
    top: 0px;
    left: 15px;
    padding: 0 2px;
    background: #023059;
}

.content-textarea textarea:focus ~ label {
    top: 0;
    background-color: #023059;
}

.content-textarea .label-text {
    top: 14px;
}

.content-form--contact textarea {
    height: 300px;
    border: solid 1px black;
    border-radius: 8px;
    color: aliceblue;
    background-color: transparent;
    outline: none;
}

.content-form--contact .content-checkbox {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

.content-checkbox input {
    height: auto;
}

.content-form--contact button {
    width: 180px;
    height: 34px;
    border: none;
    border-radius: 8px;
}

.content-form--contact button:hover {
    cursor: pointer;
    background-color: #A0A603;
    transition: 450ms;
}
/* Estilos para el footer */

footer {
    width: 100%;
    background-color: #59362E;
    padding: 24px 0 0 0;
    color: aliceblue;
}

.container-info--footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
}

.content-socialmedia--info {
    display: flex;
    gap: 184px;
}

.content-socialmedia--photos figure {
    display: flex;
}

.content-socialmedia--photos img {
    width: 48px;
}

.content-info--latamviaja p {
    line-height: 24px;
}

/* Estilos para viewport de sobre nosotros */
.main-about {
    margin-top: 8px;
}
.container-about {
    width: 100%;
    background-color: #023059;
    color: aliceblue;
}
.container-about h1 {
    font-size: 2rem;
    padding-top: 66px;
}

.container-about p {
    line-height: 28px;
}

.container-about li {
    margin-top: 8px;
}

.container-about--latam {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-about--latam {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-about--latam img {
    width: 300px;
    border-radius: 8px;
}

.content-about--service {
    display: flex;
    justify-content: center;
}

.content-about--service .about-service {
    width: 70%;
}

.container-about--choose {
    display: flex;
    justify-content: center;
}

.content-about--choose {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Animaciones para nuestro main en recomendaciones de los aviones */

@keyframes animateAircraft {
    0% {
        transform: rotate(-34deg);
    }
    100% {
        transform: translate3d(20rem, -4rem, -9em);
    }
}

@keyframes animateAircraft2 {
    0% {
       
    }
    100% {
        transform: translate(-106px, -185px) rotate(300deg);
    }
}
